{% extends "base.html" %}
{% block content %}

<section class="contact-section">
    <div class="contact-header">
        <span>CONTACT</span>
        <h1>Contact Us</h1>
    </div>

    <div class="contact-container">

        <!-- LEFT INFO -->
        <div class="contact-info">

            <div class="info-box">
                <h3>Location:</h3>
                <p>Guntur,<br>
                   Andhra Pradesh – 522002,<br>
                   INDIA</p>
            </div>

            <div class="info-box">
                <h3>Email:</h3>
                <p>vedapriya.m1@gmail.com</p>
            </div>

            <div class="info-box">
                <h3>Call:</h3>
                <p>6281472798</p>
            </div>

        </div>

        <!-- RIGHT FORM -->
        <div class="contact-form">
            <form>
                <div class="row">
                    <input type="text" placeholder="Your Name" required>
                    <input type="email" placeholder="Your Email" required>
                </div>

                <input type="text" placeholder="Subject" required>

                <textarea rows="5" placeholder="Message" required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </div>

    </div>
</section>

{% endblock %}

