{% extends "base.html" %}
{% block content %}

<div class="page">
    <h1>Product Placement Analysis – Story</h1>

    <div class="tableauPlaceholder" id="viz1769958594493" style="position: relative;">
        <noscript>
            <a href="#">
                <img alt="STORY"
                     src="https://public.tableau.com/static/images/Pr/ProductplacementAnalysis/Story1/1_rss.png"
                     style="border:none;" />
            </a>
        </noscript>

        <object class="tableauViz" style="display:none;">
            <param name="host_url" value="https://public.tableau.com/" />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="ProductplacementAnalysis/Story1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param name="language" value="en-US" />
        </object>
    </div>
</div>

<script type="text/javascript">
    var divElement = document.getElementById("viz1769958594493");
    var vizElement = divElement.getElementsByTagName("object")[0];

    vizElement.style.width = "100%";
    vizElement.style.height = "750px";

    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

{% endblock %}
